<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <style>
        .hidden-at-beggin {
            display: none;
        }
    </style>
    <div id="notReady">
        網頁加載中，請稍後...
    </div>
    <div id="app">
        <div v-if="this.nowStep == 0">
            <div v-for="(item,index) in traits">
                <b-button variant="light" v-if="item.choose_state==0" @click="setChooseState(item)">口</b-button>
                <b-button variant="light" v-else-if="item.choose_state==1" @click="setChooseState(item)">真</b-button>
                <b-button variant="light" v-else-if="item.choose_state==2" @click="setChooseState(item)">假</b-button>
                <label v-if="item.is_advantage">{{item.advantage}}</label>
                <label v-else>{{item.shortcoming}}</label>
                <button v-if="item.is_advantage" @click="change(item)">看缺點</button>
                <button v-else @click="change(item)">看優點</button>
            </div>

            <div><button @click="ready()">我選好了 </button></div>
        </div>
        <div v-else-if="this.nowStep==1">
            <div v-for="(item,index) in choosenTraits">
                <b-button variant="light" v-if="item.choose_state==0" @click="setChooseState(item)">口</b-button>
                <b-button variant="light" v-else-if="item.choose_state==1" @click="setChooseState(item)">真</b-button>
                <b-button variant="light" v-else-if="item.choose_state==2" @click="setChooseState(item)">假</b-button>
                <label v-if="item.is_advantage">{{item.advantage}}</label>
                <label v-else>{{item.shortcoming}}</label>
                <button v-if="item.is_advantage" @click="change(item)">看缺點</button>
                <button v-else @click="change(item)">看優點</button>
            </div>
        </div>
    </div>

    <!-- Required scripts -->
    <!-- axios 非同步呼叫套件 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- vue 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <!-- bootstrap-vue -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://msit12806.github.io/Eden/game3Data.js"></script>
    <script>
        window.app = new Vue({
            el: '#app',
            
            //model層
            data() {
                return {
                    vueState: {
                        ready: false,
                    },
                    traits: data,
                    choosenTraits: [],
                    nowStep: 0,
                }
            },
            methods: {
                setChooseState(item) {
                    console.log(item);
                    switch (item.choose_state) {
                        case 0:
                            item.choose_state = 1;
                            break;
                        case 1:
                            item.choose_state = 2;
                            break;
                        case 2:
                            item.choose_state = 0;
                            break;
                    }
                },
                change(item) {
                    item.is_advantage = !item.is_advantage;
                },
                ready() {
                    this.nowStep = 1;
                    this.choosenTraits = this.traits.filter(i => i.choose_state != 0);
                }
            },
            //生命週期事件
            mounted() {
                // axios.get("https://msit12806.github.io/Eden/game2Data.json").then(res => {
                //     console.log(res.data);
                //     this.data = res.data;
                //     this.vueState.ready = true;
                // });
                var t = document.getElementById("app");
                t.classList.remove("hidden-at-beggin");
                var notReady = document.getElementById("notReady");
                notReady.classList.add("hidden-at-beggin");
            },
        });
    </script>
</body>

</html>