<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- Required Stylesheets -->
    <!-- 36個 4個為一題 共9題 可考慮使用淡出的特效 -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <style>
        .hidden-at-beggin {
            display: none;
        }
    </style>
    <div id="notReady">
        網頁加載中，請稍後...
    </div>
    <div id="app" class="hidden-at-beggin">
        <b-container>
            <div>
                <div v-if="this.nowStep == 0">
                    特質32
                    <b-card-group deck>
                        <b-card border-variant="primary" header="請選擇最符合的三個描述" header-bg-variant="primary"
                            header-text-variant="white" align="center">
                            <b-form-group>
                                <b-form-checkbox v-model="selected" v-for="t in traits" :value="t" stacked switches
                                    size="lg" :state="state">{{t.advantage}}
                                </b-form-checkbox>
                                <b-form-invalid-feedback :state="state">Please select two</b-form-invalid-feedback>
                                <b-form-valid-feedback :state="state">Thank you</b-form-valid-feedback>
                            </b-form-group>
                            <div>
                                <b-button @click="ready()">我選好了 </b-button>
                            </div>
                        </b-card>

                    </b-card-group>
                </div>
                <div v-else-if="this.nowStep==1">
                    您選擇的特質：
                    <b-card-group v-if="this.clientState.showGood" deck>
                        <b-card  border-variant="success" header-bg-variant="success" header="好處" header-text-variant="white" align="center">
                            <b-form-group>
                                <div v-for="s in selected">
                                    <p>{{s.advantage}}</p>
                                </div>
                            </b-form-group>
                            <div>
                                <b-button @click="changeShowState()">看壞處 </b-button>
                            </div>
                        </b-card>
                    </b-card-group>
                   
                    <b-card-group v-else deck>
                        <b-card  border-variant="danger" header-bg-variant="danger" header="壞處" header-text-variant="white" align="center">
                            <b-form-group>
                                <div v-for="s in selected">
                                    <p>{{s.shortcoming}}</p>
                                </div>
                            </b-form-group>
                            <div>
                                <b-button @click="changeShowState()">看好處 </b-button>
                            </div>
                        </b-card>
                    </b-card-group>
                </div>
            </div>
        </b-container>

    </div>

    <!-- Required scripts -->
    <!-- axios 非同步呼叫套件 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- vue 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <!-- bootstrap-vue -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script>
        window.app = new Vue({
            el: '#app',

            //model層
            data() {
                return {
                    clientState:{
                        showGood : true,
                    },
                    vueState: {
                        ready: false,
                    },
                    selected: [],
                    traits: {},
                    choosenTraits: [],
                    nowStep: 0,
                }
            },
            methods: {
                changeShowState(){
                    this.clientState.showGood = ! this.clientState.showGood;
                },
                setChooseState(item) {
                    switch (item.choose_state) {
                        case 0:
                            item.choose_state = 1;
                            break;
                        case 1:
                            item.choose_state = 2;
                            break;
                        case 2:
                            item.choose_state = 0;
                            break;
                    }
                },
                change(item) {
                    item.is_advantage = !item.is_advantage;
                },
                ready() {
                    this.nowStep = 1;
                    this.choosenTraits = this.traits.filter(i => i.choose_state != 0);
                },
                //亂數排序方法
                shuffle(array) {
                    for (let i = array.length - 1; i > 0; i--) {
                        let j = Math.floor(Math.random() * (i + 1));
                        [array[i], array[j]] = [array[j], array[i]];
                    }
                },
            },
            //生命週期事件
            mounted() {
                axios.get("https://msit12806.github.io/Eden/traits.json").then(res => {
                    this.traits = res.data;
                    this.vueState.ready = true;
                });
                var t = document.getElementById("app");
                t.classList.remove("hidden-at-beggin");
                var notReady = document.getElementById("notReady");
                notReady.classList.add("hidden-at-beggin");
            },
            computed: {
                state() {
                    return this.selected.length === 3
                }
            }

        });
    </script>
</body>

</html>