<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <style>
        .carousel-caption {
            top: 20%;
            left: 15%;
            right: 15%;
            display: block;
            text-align: center;
        }
    </style>
    <!-- Our application root element -->
    <div id="app">

        <select v-model="topic" @change="getContext();">
            <option value="level_1">1. fun</option>
            <option value="level_2">2. finding</option>
            <option value="level_3">3. feeling</option>
            <option value="level_4">4. future</option>
        </select>

        <b-container>
            <b-carousel id="carousel-1" v-model="slide" :interval="000" controls background="#ababab" img-width="1024"
                img-height="480" style="text-shadow: 1px 1px 2px #333;" @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd">

                <!-- Slide with blank fluid image to maintain slide aspect ratio -->
                <b-carousel-slide v-for="(i, index) in nowContext" :key="index" :index="index" img-blank
                    img-alt="Blank image">
                    <p style="vertical-align:middle;">{{i.question}}</p>
                </b-carousel-slide>
            </b-carousel>

        </b-container>
    </div>


    <script src="https://msit12806.github.io/Eden/game2Data.js"></script>
    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        window.app = new Vue({
            el: '#app',
            data() {
                return {
                    slide: 0,
                    sliding: null,
                    nowContext: [{
                        level: "level_0",
                        question: "請選擇題目"
                    }],
                    topic: "",
                }
            },
            methods: {
                onSlideStart(slide) {
                    this.sliding = true
                },
                onSlideEnd(slide) {
                    this.sliding = false
                },

                getContext() {
                    let selectGroup = data.filter(i => i.level.split(',').includes(this.topic));
                    this.nowContext = selectGroup;
                },
                getRandom(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                },
            }
        })
    </script>
</body>

</html>